.input-container {
  position: absolute;
  padding: 10px;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  padding-block: 10px;
  width: 100%;
  bottom: 0;
  z-index: 10;
  background-image: linear-gradient(
    180deg,
    rgba(53, 55, 64, 0),
    #353740 58.85%
  );

  .input {
    position: relative;
    max-width: 720px;
    width: 100%;
    margin: auto;
  }

  textarea {
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    height: 50px;
    background-color: #40414f;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    font-weight: 400;
    padding-right: 40px;
    border-radius: 6px;
    background: rgba(64, 65, 79, 1);
    border: 1px solid rgba(32, 33, 35, 0.5);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  button {
    @include reset-button;
    @include center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 28px;
    height: 24px;
    border-radius: 6px;
    color: var(--white);
    background-color: transparent;

    &:disabled :hover,
    &[disabled]:hover {
      background-color: transparent;
    }

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--dark-shade);
    }
  }

  p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.5);
    text-align: center;
  }
}
