.input-container {
  padding-block: 10px;
  max-width: 770px;
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: calc(50% + 260px);
  transform: translateX(calc(-130px - 50%));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  background-color: red;

  .input {
    position: relative;
    max-width: 720px;
    width: 100%;
    margin: auto;
  }

  textarea {
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    min-height: 50px;
    background-color: var(--gray-green);
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    font-weight: 400;
    padding-right: 40px;
    border-radius: 6px;
  }

  button {
    @include reset-button;
    @include center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 28px;
    height: 24px;
    border-radius: 6px;
    color: var(--white);
    background-color: transparent;

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--dark-shade);
    }
  }

  p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba($color: #fff, $alpha: 0.5);
  }
}
