// Breakpoints
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xsm: 575px;

:root {
  --white: #fff;
  --black: #000;
  --gray: #acacbe;
  --blue-gray: #343541;
  --gray-green: #444654;
  --dark-shade: #202123;
}
