aside {
  display: block;
  width: 261px;
  background-color: #202123;
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;

  &.lg-sidebar {
    display: block;

    @media (max-width: $sm) {
      display: none;
    }
  }

  @media (max-width: $sm) {
    position: absolute;
    z-index: 20;
  }

  svg {
    --magerment: 16px;
    width: var(--magerment);
    height: var(--magerment);
  }

  .aside-top {
    height: calc(50% - 8px);
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
  }

  .aside-bottom {
    height: 46%;

    .chatlist-continaer {
      overflow: hidden;
      height: 100%;
      margin: 0;
    }
  }
}
