.form-body {
  height: 100%;

  .website-logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    left: 30px;
    z-index: 9999;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;

    @media (max-width: $md) {
      font-size: 20px;
    }

    h1 {
      margin-left: 12px;
    }
  }

  .row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #27343e;
  }

  .img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 100%;
    overflow: hidden;
    padding: 60px;
    text-align: center;
    z-index: 999;
    width: 550px;
    background-color: #a06df2;

    @media (max-width: $md) {
      display: none;
    }
  }

  .info-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .form-holder {
    margin-left: 550px;
    height: 100%;

    @media (max-width: $md) {
      margin-left: 0;
    }

    .form-content {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px;
      min-height: 100%;

      @media (max-width: $sm) {
        padding: 20px;
      }
    }

    .form-items {
      max-width: 340px;
      text-align: left;
    }

    h1 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 10px;
      color: var(--white);
      text-align: left;
    }

    .page-routes {
      display: flex;
      list-style: none;
      margin-bottom: 20px;

      li a {
        color: var(--white);
        text-decoration: none;
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
        padding-bottom: 6px;
        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.4);
        transition: 0.3s all;

        &.active {
          font-weight: 700;
          border-color: #fff;
        }
      }

      li:not(:last-child) {
        margin-right: 12px;
      }
    }

    P {
      color: var(--white);
      text-align: left;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 30px;
    }

    form {
      margin-bottom: 30px;

      & > div:nth-last-child(-n + 2) input + div {
        margin-bottom: 10px;
      }

      input {
        @include reset-button;
        width: 100%;
        display: block;
        margin-block: 10px;
        padding: 12px 10px;
        border-radius: 6px;
        background-color: var(--white);
        & + div {
          color: rgba(255, 0, 0, 0.549);
        }
      }

      .submit {
        display: flex;
        align-items: center;

        button {
          @include reset-button;
          display: block;
          margin-right: 12px;
          border-radius: 5px;
          padding: 10px 30px;
          font-weight: 700;
          font-size: 15px;
          color: #29a4ff;
          cursor: pointer;
        }

        a {
          color: var(--white);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
