main {
  flex: 1;
  height: 100%;
  background-color: var(--blue-gray);

  .chat-wrapper {
    padding-left: 14px;
    &.gpt {
      background-color: var(--gray-green);
    }
  }

  .chat {
    max-width: 780px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    color: var(--white);
    align-items: flex-start;
    padding-block: 28px;
  }

  .profile {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    flex: none;
    margin-right: 25px;
    background-color: #10a37f;
    position: relative;
    overflow: hidden;

    & > img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > svg {
      transform: translate(-50%, -50%) scale(0.6);
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

  .content {
    flex: 1;
    display: flex;

    @media (max-width: $sm) {
      flex-direction: column;
    }

    p {
      font-size: 16px;
      line-height: 28px;
      color: #d1d5db;
      flex: 1;
      white-space: pre-wrap;
    }
  }
}

.icons {
  display: flex;
  align-items: flex-start;
  flex: none;
  margin-left: 10px;

  @media (max-width: $sm) {
    margin-top: 8px;
    margin-left: 0;
  }

  button {
    color: var(--gray);
    @include reset-button;
    background-color: transparent;
    border-radius: 6px;
    padding: 5px 8px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background-color: #40414f;
    }
  }
}
