.settting-item {
  padding: 10px;

  &.selector {
    position: relative;
  }

  input,
  .select-feild {
    @include reset-button;
    margin-block: 8px;
    width: 100%;
    background-color: transparent;
    padding: 13px 12px;
    border-radius: 6px;
    border: 1px solid hsla(0deg, 0%, 100%, 0.2);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    p {
      font-style: normal;
      margin: 0;
    }
  }

  .select-list {
    position: absolute;
    top: 72px;
    left: 50%;
    width: calc(100% - 18px);
    transform: translateX(-50%);
    border-radius: 6px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 250px;
    background-color: var(--dark-shade);
    border: 1px solid hsla(0deg, 0%, 100%, 0.2);
    min-height: 250px;

    &:hover ::-webkit-scrollbar {
      width: 20px;
      display: block;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #55586b;
      border-radius: 8px;

      &:hover {
        background: #acacbe;
      }
    }

    li {
      padding: 6px 10px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      color: var(--white);
      transition: 0.3s all;

      &:hover {
        background-color: #55586b;
        color: var(--white);
      }

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  .notes p {
    background-color: #55586b;
    padding: 10px;
    border-radius: 4px;
    margin-block: 10px;
    font-style: normal;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
    font-weight: 400;
    font-style: italic;
  }

  label {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 5px;
  }
}
